body{
    margin: 0;
    padding: 0;
}
.header{
    background-color:  #6610f2;
    width: 100%;
    height: 300px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;       
    justify-content: center;  
    align-items: center;
}

.middler{
    background-color: #e4eff9;
    width: 100%;
    height: 400px;
    display: flex;       
    justify-content: center;  
    align-items: center;
}

.informacion ,.Ejemplo{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    font-size: 20px;
    margin-block: unset;

}