body{
    margin: 0;
    padding: 0;
}
.header{
    background-color:  #6610f2;
    width: 100%;
    height: 300px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;       
    justify-content: center;  
    align-items: center;
}

.middler{
    background-color: #007bff;
    width: 100%;
    height: 500px;
    display: flex;       
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    
    
    
    
}

.informacion ,.Ejemplo{
    background-color: white;
    border-radius: 10px;
    width: 55%;
    font-size: 30px;
    margin-top: 30px;
    
    

}

footer{
    background-color: #343a40;
    color: white;
    text-align: center;
    height: 100px;
    display: flex;       
    justify-content: center;  
    align-items: center;
    font-size: 25px;
}

.bot-header{
    border-radius: 10px;
    border: 1px solid black;
    width: 140px;
    text-align: center;
    color: #007bff;
    height: 35px;
    display: flex;       
    justify-content: center;  
    align-items: center;
    position: absolute;
    left: 100px;
    top: -5px;
    font-size: 20px;
}

.bot-mid{
    border-radius: 10px;
    border: 1px solid black;
    width: 140px;
    text-align: center;
    background-color: #007bff;
    color: white;
    height: 35px;
    display: flex;       
    justify-content: center;  
    align-items: center;
}