
h1, p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.container{
    gap: 20px;
    display: flex;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 10%;
    
    
}

.cielos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cielo2, .cielo3, .cielo4, .cielo5{
    display: flex;
    border: 1px solid black;
    border-radius: 1px;
    padding: 40px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 27%;
    
    
}


.cielo1{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: 1px solid black;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 27%;
    
}



img{
    width: 50%;
    border-radius: 10px;
    
}



