.img{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.img > img{
    width: 450px;
    height: 375px;
}
.img > h2{
    margin-left: 40px;

}
.img2{
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;
    height: 300px;
   
}
.img2 > img{
    margin-left: auto;
    float: left;
    width: 450px;
    height: 250px;
    margin-left: 40px;
}

.img4{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    height: 300;
}
.img4 > img{
    width: 450px;
    height: 260px;
    margin-left: 40px;
}
.img5{
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;

}
.img5 > img{
    margin-right: auto;
    float: right;
    width: 450px;
    height: 380px;
    margin-left: 40px;
}
body {
    background-color: rgba(212, 173, 171, 0.836);
}
.menu {
    background-color: black;
}
.menu th {
    padding: 10px;
}
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color: orangered;
}
ul {
    list-style: none;
}
footer {
    background-color: rgb(33, 140, 182);
    text-align: center;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
.menu {
    background-color: black;
}
.menu th {
    padding: 10px;
}
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color: orangered;
}
body{
    margin: 0;
}