html{
    background-color: rgba(219, 216, 199);
    margin: 50px;
}

.div1{
    width: 270px;
    text-align: center;
    float: left;
    margin-right: 25%;
    border-bottom: 2px solid black;
    height: 600px;
}





.div1 ul {
    text-align: left;
    margin-left: 0;
    padding-left: 1.5rem;
}

.div2{
    width: 270px;
    text-align: center;
    float: left;
    margin-right: 200px;
    border-bottom: 2px solid black;
    height: 600px;

}

.div2 ul {
    text-align: left;
    margin-left: 0;
    padding-left: 1.5rem;
}

