html{
    background-color: rgba(219, 216, 199);
    margin-top: 100px;
    
}

.div-gigante{
    display: flex;
    justify-content: center;
    align-items: center;

}

.div1{
    width: 270px;
    text-align: center;
    float: left;
    margin-right: 200px;
    border-bottom: 1px solid black;
    height: 600px;
}





.div1 ul {
    text-align: left;
    margin-left: 0;
    padding-left: 1.5rem;
}

hr{
    border: 1px solid black;
}

.div2{
    width: 270px;
    text-align: center;
    float: left;
    margin-right: 200px;
    border-bottom: 1px solid black;
    height: 600px;
}

.div2 ul {
    text-align: left;
    margin-left: 0;
    padding-left: 1.5rem;
}

.div3{
    width: 270px;
    text-align: center;
    float: left;
    margin-right: 200px;
    border-bottom: 1px solid black;
    height: 600px;
}

.div3 ul {
    text-align: left;
    margin-left: 0;
    padding-left: 1.5rem;
}
