html{
    background-color: rgba(219, 216, 199);
    margin: 50px;
}

.div1{
    width: 270px;
    text-align: center;
    float: left;
    margin-right: 25%;
}





.div1 ul {
    text-align: left;
    margin-left: 0;
    padding-left: 1.5rem;
}

hr{
    border: 1px solid black;
}

.div2{
    width: 270px;
    text-align: center;
    float: left;
    margin-right: 200px;
}

.div2 ul {
    text-align: left;
    margin-left: 0;
    padding-left: 1.5rem;
}

